@import url('https://fonts.googleapis.com/css2?family=Rokkitt&display=swap');

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   list-style: none;
   font-family:'Rokkitt', serif;
}

body{
   background:#222222;
}


.allcv{
   width: 800px;
   background: #f3f3f3;
   margin: 15px auto;
   border: 10px solid black;
}

img{
   float: left;
   padding-top: 12px;
   margin-left: 3px;
}



.cntct{
   float: right;
   padding:27px 25px;
}

.head{
   border-bottom:3px solid #d7a355;
   padding-left: 5px;
   background-color: #ededed;
   height: 130px;
}

.left{
  background: #f3f3f3;
  width: 250px;
  padding:15px;
  padding-top: 0px;
  font-style: italic;
  color: #d7a355;
  font-size: 24px;
  font-weight: 30;
}

.right{
background-color: #f3f3f3;
width: 500px;
}

.border1{
   border-bottom: 2px solid lightgray;
   margin: 20px;
   padding-bottom: 15px;
   display: flex;
   flex-wrap: nowrap;}

.border2{
   border-bottom: 2px solid lightgray;
   margin: 20px;
   padding-bottom: 15px;
   display: flex;
   flex-wrap: nowrap;
}

.border3{
   border-bottom: 2px solid lightgray;
   margin: 20px;
   padding-bottom: 15px;
   display: flex;
   flex-wrap: nowrap;
}

.border4{
   border-bottom: 2px solid lightgray;
   margin: 20px;
   padding-bottom: 15px;
   display: flex;
   flex-wrap: nowrap;
}

.jobtitle{
  color: rgba(0, 0, 0, 0.795);
  padding:27px 30px;
  padding-top: 0px;
}

.name{
   color: rgba(0, 0, 0, 0.911);
   padding:27px 30px;
   padding-bottom: 0px;
}

h5{
   font-style: italic;
   color: rgba(0, 0, 0, 0.63);
}

h3{
   color: rgb(19, 18, 18);
   }

.skills {
   display: flex;
   flex-wrap: nowrap;
}

li{
   width: 20%;
   margin:0px 30px 0px 0px;
   padding-bottom: 0px;
   text-align: left;
   line-height: 15px;
}