@import url('https://fonts.googleapis.com/css2?family=Rokkitt:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rokkitt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    background: #0e0e0e;
}

.all-cv {
    width: 800px;
    background: #f3f3f3;
    margin: 0 auto;
    border: 10px solid #181818;
}

.head {
    border-bottom: 3px solid #d29b4b;
    padding-left: 5px;
    background-color: #ededed;
    height: 120px;
}

.contact {
    float: right;
    padding: 27px 20px;
    color: #89838b;
}

li {
    width: 20%;
    margin: 0 30px 0;
    padding-bottom: 5px;
    text-align: left;
    line-height: 15px;
}

.photo {
    float: left;
    padding-top: 7px;
    margin-left: 3px;
    width: 108px
}

.name {
    color: #1e2229;
    padding: 28px 30px 0;
    font-family: 'Rokkitt', serif;
    font-weight: bolder;
    word-spacing: 0;
    line-height: 22px;
}

.job-title {
    color: #595960;
    padding: 0;
    font-size: 24px;
    font-family: 'Rokkitt', serif;
    font-weight: normal;
    box-sizing: border-box;
}

.borders {
    border-bottom: 2px solid #d3d3d3;
    margin: 20px;
    padding-bottom: 15px;
    display: flex;
    flex-wrap: nowrap;
}

.borders:last-child {
    border-bottom: none;
}

.left-content {
    background: #f3f3f3;
    width: 250px;
    padding: 0 15px;
    font-style: italic;
    color: #d8a350;
    font-size: 21px;
    font-family: 'Rokkitt', serif;
    font-weight: normal;
}

.right-content {
    background-color: #f3f3f3;
    width: 500px;
    font-family: 'Roboto', sans-serif;
    color: #89838b;
    font-size: 15px;
}

.all-skills {
    display: flex;
    flex-wrap: nowrap;
}

.skills {
    padding: 0 90px 0 0;
}

h3 {
    color: #595960;
    font-family: 'Rokkitt', serif;
    font-weight: 400;
    font-size: 21px;
}

h6 {
    font-style: italic;
    color: #89838b;
    letter-spacing: 1px;
    padding: 2px;
}

